body {
  min-width:1200px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
hr {
  height: 2px;
  outline: none;
  border: none;
  background:#eeeeee;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
  position: relative;
  background-color: #eeeeee;
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.main-navigation {
  float: left;
  width: 850px;
}
.index-logo {
  width: 160px;
  float: left;
  padding-top: 48px;
  margin-right: 201px;
}
.index-logo a:hover {
  opacity: .8;
}
.index-logo:active {
  opacity: .3;
}
.site-navigation li:first-child {
  border-bottom: 2px solid  #f87f81;
}
.site-navigation a {
  color: #000000;
  text-decoration: none;

}
.main-navigation a:hover {
  color: #f87f81;
}
.main-navigation a:active {
  color:rgba(0, 0, 0, 0.3);
}
.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.site-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 30px;
  padding-top: 75px;
  margin-right: 49px;
  text-transform: uppercase;

}
.site-navigation li:last-child {
  margin-right: 0;
}
.cart {
  position: relative;
  float: right;
  max-width: 120px;
}
.cart-item {
  display: inline-block;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  padding-top: 75px;
  padding-left: 45px;

}
.cart-item::before  {
  position: absolute;
  content: "";
  right: 100px;
  top: 82px;
  width: 15px;
  height: 15px;
  background: transparent url("../img/sprite.png") -5px -46px no-repeat;
}
.cart a:hover {
  color: #f87f81;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 91px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label {
  display:inline-block;
  width:8px;
  height:8px;
  margin:0 7px;
  background:white;
  border:5px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
    background:#c1c1c1;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-list-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 8px;
}
.slider-list-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}
.slider-list-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
#product-1:checked ~ .slider-list .slider-list-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-list-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-list-item:nth-child(3) {
  display: block;
}
.slider-list-item {
  display: none;
  padding: 73px 0 80px 0;
}

.slider-list-item b {
  display: block;
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;


  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-list-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}
.btn {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color:#ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color:#fb565a;
  border-radius: 3px;
  border:none;
}
.btn:hover, .btn:focus {
  background-color: #e74246;
}
.btn:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1)inset;
}
.service-item {

  padding-top: 0;
  float: left;
  width: 300px;
  margin-right: 100px;
}
.service-item:last-child {
  margin-right: 0;
}
.servise {
  margin-bottom: 83px;
}
.service-item img {
  margin-bottom: 20px;
}
.service-item b {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
}
.service-item p {
  width: 260px;
  margin-bottom:36px;
}
.service-item .btn {
  width: 160px;
}
.application-btn  {
  background-color: #00ca74;
}
.application-btn:hover, .application-btn:focus {
  background-color: #00bc6c;
}
.application-btn:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1)inset;
}
.presentation-btn  {
  background-color:#efc84a;
}
.presentation-btn:hover, .presentation-btn:focus {
  background-color: #eab534;
}
.presentation-btn:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1)inset;
}
.description {
  padding-top: 33px;
  margin-bottom: 45px;
}
.description-left {
  float: left;
  width: 660px;
  padding-top: 32px;
}

.description-left b {
  width: 660px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 540;
}
.description-left p {
  padding-top: 19px;

}
.description-left .description-list-title {
  text-transform: uppercase;
  font-weight: 540;
  padding-top: 23px;
}
.description-list {
  padding: 7px 0 0 0;
  margin: 0;
  list-style: none;

}
.description-list li {
  position: relative;
  width: 460px;
  padding-left: 35px;
  margin-bottom: 25px;
}

.description-list li::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: -0px;
  top: 10px;
  background-color: red;
}
.description-right {
  float: right;
  width: 360px;

}
.description-right p {
  padding-top: 11px;
  padding-left: 16px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.statistics-item th {
  font-size: 45px;
}
.statistics-item th:nth-child(3) {
  text-align: center;
}
.statistics-item td {
  padding-top: 26px;
  font-size: 16px;
  line-height: 18px;
}
.references {
  min-height: 185px;
  margin-bottom: 85px;
}
.contact-form {
  float: left;
  width: 320px;
  min-height: 310px;
  padding-top: 44px;
  padding-left: 50px;
  padding-right: 50px;
}

.main-footer {
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social {
  float: left;
  width: 260px;
  min-height: 100px;
  margin-right: 140px;
}
.footer-discount {
  float: left;
  min-height: 100px;
  width: 560px;
}
/*---------------catalog.html-------------------------*/
.inner-page-title {
  float: left;
  margin-left: 300px;
  padding:54px 0 84px;
  text-align:center
}
.inner-page-title h1 {
  margin:0;
  padding:0;
  font-size:40px;
  line-height:48px
}
.shop-filter {
  float: left;
  width: 240px;

}
.catalog {
  float: right;
  width: 760px;
}
.catalog-item {
  display: inline-block;
  margin-right: 40px;
}
