body {
  min-width:1200px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: black;
}
hr {
  height: 2px;
  outline: none;
  border: none;
  background:#eeeeee;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
  position: relative;
  background-color: #eeeeee;
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.main-navigation {
  float: left;
  width: 850px;
}
.index-logo {
  width: 160px;
  float: left;
  padding-top: 48px;
  margin-right: 201px;
}
.index-logo a:hover {
  opacity: .8;
}
.index-logo:active {
  opacity: .3;
}
 .site-navigation .active {
  border-bottom: 2px solid  #f87f81;
}
.site-navigation a {
  display: block;
  color: #000000;
  text-decoration: none;

}

.main-navigation a:hover {
  color: #f87f81;
}
.main-navigation a:active {
  color:rgba(0, 0, 0, 0.3);
}
.main-navigation .active a:hover {
  color: #000000;
}
.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.site-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 30px;
  padding-top: 75px;
  margin-right: 49px;
  text-transform: uppercase;

}
.site-navigation li:last-child {
  margin-right: 0;
}
.cart {
  position: relative;
  float: right;
  max-width: 120px;
}
.cart-item {
  display: inline-block;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  padding-top: 75px;
  padding-left: 45px;

}
.cart-item::before  {
  position: absolute;
  content: "";
  right: 100px;
  top: 82px;
  width: 15px;
  height: 15px;
  background: transparent url("../img/sprite.png") -5px -46px no-repeat;
}
.cart a:hover {
  color: #f87f81;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 94px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label {
  display:inline-block;
  width:8px;
  height:8px;
  margin:0 9px;
  background:white;
  border:5px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
    background:#c1c1c1;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-list-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 12px;
}
.slider-list-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}
.slider-list-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
#product-1:checked ~ .slider-list .slider-list-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-list-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-list-item:nth-child(3) {
  display: block;
}
.slider-list-item {
  display: none;
  padding: 73px 0 80px 0;
}

.slider-list-item b {
  display: block;
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;


  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-list-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}
.btn {
  display: block;
  width: 240px;
  padding: 14px 0;
  font-size: 16px;
  line-height: 18px;
  color:#ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color:#fb565a;
  border-radius: 3px;
  border:none;
}
.btn:hover, .btn:focus {
  background-color: #e74246;
}
.btn:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1)inset;
}
.service-item {

  padding-top: 0;
  float: left;
  width: 300px;
  margin-right: 100px;
}
.service-item:last-child {
  margin-right: 0;
}
.servise {
  margin-bottom: 83px;
}
.service-item img {
  margin-bottom: 20px;
}
.service-item b {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
}
.service-item p {
  width: 260px;
  margin-bottom:33px;
}
.service-item .btn {
  width: 160px;
}
.application-btn  {
  background-color: #00ca74;
}
.application-btn:hover, .application-btn:focus {
  background-color: #00bc6c;
}
.application-btn:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1)inset;
}
.presentation-btn  {
  background-color:#efc84a;
}
.presentation-btn:hover, .presentation-btn:focus {
  background-color: #eab534;
}
.presentation-btn:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1)inset;
}
.description {
  padding-top: 33px;
  margin-bottom: 45px;
}
.description-left {
  float: left;
  width: 660px;
  padding-top: 32px;
}

.description-left b {
  width: 660px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 540;
}
.description-left p {
  padding-top: 19px;

}
.description-left .description-list-title {
  text-transform: uppercase;
  font-weight: 540;
  padding-top: 23px;
}
.description-list {
  padding: 7px 0 0 0;
  margin: 0;
  list-style: none;

}
.description-list li {
  position: relative;
  width: 460px;
  padding-left: 35px;
  margin-bottom: 25px;
}

.description-list li::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  left: -0px;
  top: 10px;
  background-color: red;
}
.description-right {
  float: right;
  width: 360px;

}
.description-right p {
  padding-top: 11px;
  padding-left: 16px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.statistics {
  padding: 0;
  width: 100%;
}

.statistics-item th {
  position: relative;
  width: 120px;
  font-size: 45px;
  text-align: left;
}
.statistics-item th::after {
  position: absolute;
  content: "%";
  font-size: 22px;
  top: -7px;
}
.statistics-item td {
  padding-top: 26px;
  font-size: 16px;
  line-height: 18px;
}
.references {

  margin-bottom: 38px;

}
.references-list {
  padding: 37px 0 0 30px;
  margin: 0;
  list-style: none;
}
.references-list-item  {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  margin-right: 97px;

}
.references-list-item img{
  opacity: .2;
}

.line1::before {
  content: "";
  position: absolute;
  left: 248px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;

}
.line2::before {
  content: "";
  position: absolute;
  right: -44px;
  top: 18px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;

}
.line3::before {
  content: "";
  position: absolute;
  left: 242px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;


}
.references-list-item img:hover {
  opacity: 1;
}
.references-list-item img:active {
  opacity:.1;
}
.references-list-item:first-child {
  padding-bottom: 7px;
}
.references-list-item:last-child {
  margin-right: 0;
  padding-top: 7px;
}
.references-list-item:nth-child(3) {
  padding-bottom: 17px;
  margin-right: 116px;
}
.contacts {
  margin:79px auto 0 auto;
  width: 1440px;
  min-height: 416px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
}
.contact-form {
  position: relative;
  float: left;
  margin-top: 55px;
  margin-left: 140px;
  padding-top: 48px;
  padding-left: 50px;
  max-width: 320px;
  background-color: white;
}
.contact-form::after {
  content: "";
  position: absolute;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  left: 680px;
  top: 33px;
}
.contact-form b {
  font-size: 18px;
  line-height: 30px;
  text-transform:uppercase;
  font-weight: 570;
}
.contact-form p {
  padding-top: 7px;
  line-height: 18px;
  margin-bottom: 39px;
  color: #666666;
}
.contact-btn {
  width: 220px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.main-footer {
  padding-top: 67px;
  padding-bottom: 70px;

}

.footer-social {
  float: left;
  width: 280px;
  margin-right: 120px;
}
.footer-social-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.footer-social-list li {
  display: inline-block;
  vertical-align: top;

   margin-right: 10px;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  background: #eeeeee;
}
.footer-social-item a {
  position: relative;
  display: block;
  border-radius: 50%;
}

.footer-social-list a:hover {
  background: #fb565a;
}
.footer-social-list li:last-child {
  margin-right: 0;
}
.footer-social-list a::after {
  position: absolute;
  content: "";
}
.vk::after {
  background: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -0px;
  top:30px;
  left: 26px;
  width: 26px;
  height: 15px;

}
 .fb::after {
  background: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -66px;
  top:26px;
  left: 34px;
  width: 12px;
  height: 22px

}
.inst::after {
  background: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -20px;
  top:28px;
  left: 27px;
  width: 21px;
  height: 21px;
}
.footer-social-item a{
  width: 78px;
  height: 78px;
}
.footer-discount {
  float: left;
  width: 560px;
  padding-top: 9px;
}
.footer-discount b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 580;
  margin: 0;
}
.footer-discount p {
  color:#505050;
  font-size: 16px;
  line-height: 22px;
  margin: 10px 0;
}
/*---------------catalog.html-------------------------*/
.inner-page-title {
  float: left;
  margin-left: 217px;
  padding:72px 0 106px;
}
.inner-page-title h1 {
  margin:0;
  padding:0;
  font-size:55px;
  line-height:55px;
  font-weight: 580;
}
.inner-content {
  padding-top: 57px;
}

.shop-filter {
  float: left;
  width: 260px;
}
.shop-filter fieldset {
  margin-bottom: 50px;
  border: none;
  padding:0;
}
.shop-filter legend {
  font-size: 18px;
  line-height:30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.price-filter {
  margin-top: 34px;
  width:100%;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding:0 30px;
  background: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height:2px;
  background: #d7dcde;

}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top:30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle {
  left: 145px;
}
.price-controls input {
  width:60px;
  padding: 8px 10px;
  margin-left:10px;
  border:none;
  background: #f1f1f1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #283136;
  border-radius: 5px;
}
.price-controls  .min-price {
  margin-right: 28px;
}
.price-controls {
  white-space: nowrap;
}


.shop-filter input[type="radio"],
.shop-filter input[type="checkbox"] {
  display: none;
}
.check-indicator {
  position: absolute;
  top:0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border: 3px solid #c1c1c1;
  border-radius: 3px;
}
.check-indicator:hover {
  border: 3px solid #4d4d4d;
}

.check-label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;

  font-size: 16px;
  line-height: 20px;
  text-transform: none;

  cursor: pointer;
}
.check-label:hover  .check-indicator {
  border:3px solid #4d4d4d;
}
.check-label:last-child {
  margin-bottom: 0;
}
input[type="radio"]+ .check-indicator {
  border-radius: 50%;
}
.check-label:hover input[type="radio"]:checked~ .check-indicator::after {
  background-color: #4d4d4d;
}
input[type="radio"]:checked~ .check-indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  display: block;
  width:8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c1c1;
}
.check-label:hover input[type="checkbox"]:checked + .check-indicator::after {
  background-color: #4d4d4d;
}
.check-label:hover input[type="checkbox"]:checked + .check-indicator::before {
  background-color: #4d4d4d;
}
input[type="checkbox"]:checked + .check-indicator::after,
input[type="checkbox"]:checked + .check-indicator::before {
  content: "";
  position: absolute;

  display: block;
  width: 20px;
  height: 4px;

  background-color: #c1c1c1;
  border-radius: 1px;
}


input[type="checkbox"]:checked + .check-indicator::before {
  top: 3px;
  left: 2px;

  border: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type="checkbox"]:checked + .check-indicator::after {
  top: 8px;
  left: 0px;

  width: 11px;

  -webkit-transform: rotate(45deg);

          transform: rotate(45deg);
}

.check-label.disabled .check-indicator {
  cursor: not-allowed;
  opacity: 0.8;
}

.check-label.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.disabled:hover .check-indicator {
  opacity: .3;
}

.form-btn {
  width: 100%;
  color:black;
  font-weight: 500;
  background-color: #eeeeee;
}
.form-btn:hover {
  background-color: #dfdfdf;
}
.form-btn:active {
  background-color: #d5d5d5;
}

.catalog {
  float: right;
  width: 760px;
  font-size: 0;


}
.catalog-filer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-filer {
  position: relative;
}
.catalog-filer li {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.catalog-filer  span {
  font-size: 18px;
  line-height: 18px;
  margin-right: 233px;
  font-weight: bold;
}
.catalog-filer a {
  opacity: 0.3;
}

.catalog-filer a:hover {
  opacity: .6;
}
.curent a {
  opacity: 1;
}
.curent a:hover {
  opacity: 1;
}

.sort {
  position: absolute;
  height: 0px;
  border: 5px solid transparent;
}
.descending {
  right: -203px;
  bottom: 30px;
  border-top: 10px solid #000000;
}
.ascending {
  right: -232px;
  bottom: 35px;
  border-bottom: 10px solid #000000;
}

.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  width: 360px;
  margin-right: 40px;

}
.catalog-item:nth-child(odd) {
   margin-right: 0;
}


.item-head {
  width: 344px;
  height: 30px;
  padding-top: 10px;
  padding-left: 16px;
  background-color: #eeeeee;
  margin: 0;
  border-radius: 3px 3px 0 0;
}
.item-head div {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;


  background-color: #ffffff;
  border-radius: 50%;
}
.item-description {
  position: absolute;
  display: none;
  left: 0;
  bottom: 12px;
  min-height: 194px;
  width: 310px;
  background-color: #eeeeee;
  padding: 29px 25px 0;

  text-align: center;
}
.item-description b {
  font-size: 18px;
  line-height: 30px;
}
.item-description p {
  font-size: 16px;
  line-height: 18px;
  color: #939393;

}
.price-btn {
  width: 200px;
  margin-left: 55px;
}
.catalog-item:hover .item-description{
  display: block;
}
.catalog-item:hover .item-head {
  background: #4d4d4d;
}
.paginator {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}
.paginator li {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;


 }
 .paginator .paginator-btn {
   display: block;
   width: 48px;
   padding: 16px 0;
   font-size: 16px;
   line-height: 18px;
   background: #eeeeee;
   text-align: center;
   border-radius: 5px;
 }
  .paginator  .next-btn {
    display: block;
    padding: 16px 0;
    width:260px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background: #eeeeee;
    border-radius: 5px;
  }
  .paginator .next-btn:hover {
    background: #dfdfdf;
  }
  .paginator .paginator-btn:hover {
    background: #dfdfdf;
  }
  .paginator .next-btn:active {
    box-shadow: 0 3px rgba(0, 0, 0, 0.1)inset;
    color: #9d9d9d;
  }
  .paginator .paginator-btn:active {
    box-shadow: 0 3px rgba(0, 0, 0, 0.1)inset;
    color: #9d9d9d;
  }
  .paginator .curent:hover {
    background: white;
  }
.paginator .curent {
  padding: 13px 0;
  width: 45px;
  background: white;
  border: 3px solid #eeeeee;
}
