body {
  min-width:1200px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
  position: relative;
  background-color: #eeeeee;
}
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.main-navigation {
  float: left;
  width: 850px;
}
.index-logo {
  width: 160px;
  float: left;
  padding-top: 48px;
  margin-right: 201px;
}
.index-logo a:hover {
  opacity: .8;
}
.site-navigation li:first-child {
  border-bottom: 2px solid  #f87f81;
}
.site-navigation a {
  color: #000000;
  text-decoration: none;

}
.main-navigation a:hover {
  color: #f87f81;
}
.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.site-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 30px;
  padding-top: 75px;
  margin-right: 49px;
  text-transform: uppercase;

}
.site-navigation li:last-child {
  margin-right: 0;
}
.cart {
  position: relative;
  float: right;
  max-width: 120px;
}
.cart-item {
  display: inline-block;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  padding-top: 75px;
  padding-left: 45px;

}
.cart-item::before  {
  position: absolute;
  content: "";
  right: 100px;
  top: 82px;
  width: 15px;
  height: 15px;
  background: transparent url("../img/sprite.png") -5px -46px no-repeat;
}
.cart a:hover {
  color: #f87f81;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.slider {
  position: relative;
  background-color: #eeeeee;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 91px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label {
  display:inline-block;
  width:8px;
  height:8px;
  margin:0 5px;
  background:white;
  border:3px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}
/* .slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}
.slider-controls i::after {
  content: "";

  position: absolute;
  top:8px;
  left:8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
} */
#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
    background:#c1c1c1;
}
/* .slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin:-4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
} */
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-list-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}
.slider-list-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}
.slider-list-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
#product-1:checked ~ .slider-list .slider-list-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-list-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-list-item:nth-child(3) {
  display: block;
}
.slider-list-item {
  display: none;
  padding: 73px 0 80px 0;
}

.slider-list-item b {
  display: block;
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;


  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-list-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}
.btn {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color:#ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color:#fb565a;
  border-radius: 3px;
  border:none;
}
.btn:hover, .btn:focus {
  background-color: #e74246;
}
.btn:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1)inset;
}
.service-item {
  float: left;
  width: 300px;
  min-height: 350px;
  margin-right: 100px;
}
.service-item:last-child {
  margin-right: 0;
}
.servise {
  margin-bottom: 80px;
}
.description-left {
  float: left;
  width: 660px;
  min-height: 530px;
}
.description-right {
  float: right;
  width: 400px;
  min-height: 530px;
}
.references {
  min-height: 185px;
  margin-bottom: 85px;
}
.contact-form {
  float: left;
  width: 320px;
  min-height: 310px;
  padding-top: 44px;
  padding-left: 50px;
  padding-right: 50px;
}

.main-footer {
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social {
  float: left;
  width: 260px;
  min-height: 100px;
  margin-right: 140px;
}
.footer-discount {
  float: left;
  min-height: 100px;
  width: 560px;
}
/*---------------catalog.html-------------------------*/
.inner-page-title {
  float: left;
  margin-left: 300px;
  padding:54px 0 84px;
  text-align:center
}
.inner-page-title h1 {
  margin:0;
  padding:0;
  font-size:40px;
  line-height:48px
}
.shop-filter {
  float: left;
  width: 240px;

}
.catalog {
  float: right;
  width: 760px;
}
.catalog-item {
  display: inline-block;
  margin-right: 40px;
}
